In [ ]:
Q1

In [ ]:
select
    l_returnflag,
    l_linestatus,
    sum(l_quantity) as sum_qty,
    sum(l_extendedprice) as sum_base_price,
    sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
    sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
    avg(l_quantity) as avg_qty,
    avg(l_extendedprice) as avg_price,
    avg(l_discount) as avg_disc,
    count(*) as count_order
from
    lineitem
where
    l_shipdate <= DATEADD(DAY, -90, CAST('1998-12-01' AS DATE))
group by
    l_returnflag,
    l_linestatus
order by
    l_returnflag,
    l_linestatus;

In [ ]:
运行结果：
l_returnflag | l_linestatus |    sum_qty    |    sum_base_price    |    sum_disc_price    |    sum_charge    |   avg_qty   |   avg_price   |   avg_disc   |  count_order
-------------+-------------+--------------+---------------------+---------------------+-----------------+-------------+--------------+-------------+--------------
A            | F           | 37734107.00   | 565685540.73         | 5375825134.8700      | 55909065222.8276 | 25.522005   | 38273.129734 | 0.049985    | 1478493
N            | F           | 991417.00     | 1487504710.38        | 1413082168.0541      | 1469649223.1943 | 25.516471   | 38284.467760 | 0.050093    | 38854
N            | O           | 74476040.00   | 111701729697.74      | 106118230307.6056    | 110367043872.4970| 25.502226   | 38249.117988 | 0.049996    | 2920374
R            | F           | 37719753.00   | 56668041380.90       | 53741292684.6040     | 55589619119.6319 | 25.505793   | 38250.854626 | 0.050009    | 1478870
(4 行记录)

In [ ]:
Q3

In [ ]:
select
    l_orderkey,
    sum(l_extendedprice * (1 - l_discount)) as revenue,
    o_orderdate,
    o_shippriority
from
    customer,
    orders,
    lineitem
where
    c_mktsegment = 'BUILDING'
    and c_custkey = o_custkey
    and l_orderkey = o_orderkey
    and o_orderdate < CAST('1995-03-15' AS DATE)
    and l_shipdate > CAST('1995-03-15' AS DATE)
group by
    l_orderkey,
    o_orderdate,
    o_shippriority
order by
    revenue desc,
    o_orderdate;

In [ ]:
运行结果：l_orderkey |     revenue     |   o_orderdate   | o_shippriority
----------+----------------+----------------+---------------
2456423   | 406181.0111     | 1995-03-05     | 0
3459608   | 406838.6989     | 1995-03-04     | 0
492164    | 390324.0610     | 1995-02-19     | 0
1168320   | 364537.9359     | 1995-03-09     | 0
2436712   | 378673.0558     | 1995-02-26     | 0
4878020   | 378376.7952     | 1995-03-12     | 0
5521732   | 375153.9215     | 1995-03-13     | 0
2628192   | 373133.3094     | 1995-02-22     | 0
936600    | 371407.4595     | 1995-03-05     | 0
2300070   | 367371.1452     | 1995-03-13     | 0
(10 行记录)

In [ ]:
Q5

In [ ]:
select
    n_name,
    sum(l_extendedprice * (1 - l_discount)) as revenue
from
    customer,
    orders,
    lineitem,
    supplier,
    nation,
    region
where
    c_custkey = o_custkey
    and l_orderkey = o_orderkey
    and l_suppkey = s_suppkey
    and c_nationkey = s_nationkey
    and s_nationkey = n_nationkey
    and n_regionkey = r_regionkey
    and r_name = 'ASIA'
    and o_orderdate >= CAST('1994-01-01' AS DATE)
    and o_orderdate < DATEADD(YEAR, 1, CAST('1994-01-01' AS DATE))
group by
    n_name
order by
    revenue desc;

In [ ]:
运行结果：n_name      |       revenue
-----------+-------------------
INDONESIA  | 55502041.1697
VIETNAM    | 55295086.9967
CHINA      | 53724494.2566
INDIA      | 52035512.0002
JAPAN      | 45410175.6954
(5 行记录)

In [ ]:
Q6

In [ ]:

select
    sum(l_extendedprice * l_discount) as revenue
from
    lineitem
where
    l_shipdate >= CAST('1994-01-01' AS DATE)
    and l_shipdate < DATEADD(YEAR, 1, CAST('1994-01-01' AS DATE))
    and l_discount between 0.06 - 0.01 and 0.06 + 0.01
    and l_quantity < 24;

In [ ]:
运行结果：revenue
-------------------
123141078.2283
(1 行记录)

In [ ]:
Q7

In [ ]:
select
    supp_nation,
    cust_nation,
    l_year,
    sum(volume) as revenue
from
    (
        select
            n1.n_name as supp_nation,
            n2.n_name as cust_nation,
            YEAR(l_shipdate) as l_year,
            l_extendedprice * (1 - l_discount) as volume
        from
            supplier,
            lineitem,
            orders,
            customer,
            nation n1,
            nation n2
        where
            s_suppkey = l_suppkey
            and o_orderkey = l_orderkey
            and c_custkey = o_custkey
            and s_nationkey = n1.n_nationkey
            and c_nationkey = n2.n_nationkey
            and (
                (n1.n_name = 'FRANCE' and n2.n_name = 'GERMANY')
                or (n1.n_name = 'GERMANY' and n2.n_name = 'FRANCE')
            )
            and l_shipdate between CAST('1995-01-01' AS DATE) and CAST('1996-12-31' AS DATE)
    ) as shipping
group by
    supp_nation,
    cust_nation,
    l_year
order by
    supp_nation,
    cust_nation,
    l_year;

In [ ]:
运行结果：supp_nation | cust_nation | l_year |    revenue
-----------+------------+--------+---------------
FRANCE     | GERMANY    | 1995   | 54639732.7336
FRANCE     | GERMANY    | 1996   | 54633083.3076
GERMANY    | FRANCE     | 1995   | 52531746.6697
GERMANY    | FRANCE     | 1996   | 52520549.0224
(4 行记录)

In [ ]:
Q9

In [ ]:

select
    nation,
    o_year,
    sum(amount) as sum_profit
from
    (
        select
            n_name as nation,
            YEAR(o_orderdate) as o_year,
            l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity as amount
        from
            part,
            supplier,
            lineitem,
            partsupp,
            orders,
            nation
        where
            s_suppkey = l_suppkey
            and ps_suppkey = l_suppkey
            and ps_partkey = l_partkey
            and p_partkey = l_partkey
            and o_orderkey = l_orderkey
            and s_nationkey = n_nationkey
            and p_name like '%green%'
    ) as profit
group by
    nation,
    o_year
order by
    nation,
    o_year desc;

In [ ]:
运行结果：nation       | o_year |      sum_profit
------------+-------+-------------------
ALGERIA      | 1998  | 27136900.1803
ALGERIA      | 1997  | 48611833.4962
ALGERIA      | 1996  | 48285482.6782
ALGERIA      | 1995  | 44402273.5999
ALGERIA      | 1994  | 48694008.0668
ALGERIA      | 1993  | 46044207.7838
ALGERIA      | 1992  | 45636849.4881
ARGENTINA    | 1998  | 28341663.7848
ARGENTINA    | 1997  | 47143964.1176
ARGENTINA    | 1996  | 45255278.6021
(10 行记录)

In [ ]:
Q10

In [ ]:
select
    c_custkey,
    c_name,
    sum(l_extendedprice * (1 - l_discount)) as revenue,
    c_acctbal,
    n_name,
    c_address,
    c_phone,
    c_comment
from
    customer,
    orders,
    lineitem,
    nation
where
    c_custkey = o_custkey
    and l_orderkey = o_orderkey
    and o_orderdate >= CAST('1993-10-01' AS DATE)
    and o_orderdate < DATEADD(MONTH, 3, CAST('1993-10-01' AS DATE))
    and l_returnflag = 'R'
    and c_nationkey = n_nationkey
group by
    c_custkey,
    c_name,
    c_acctbal,
    c_phone,
    n_name,
    c_address,
    c_comment
order by
    revenue desc;

In [ ]:
运行结果： c_custkey |       c_name       |   revenue   | c_acctbal |          n_name           |                c_address                 |     c_phone     |                                                  c_comment                                 
-----------+--------------------+-------------+-----------+---------------------------+------------------------------------------+-----------------+-------------------------------------------------------------------------------------------------------------
     57040 | Customer#000057040 | 734235.2455 |    632.87 | JAPAN                     | Eioyzjf4pp                               | 22-895-641-3466 | sits. slyly regular requests sleep alongside of the regular inst
    143347 | Customer#000143347 | 721002.6948 |   2557.47 | EGYPT                     | 1aReFYv,Kw4                              | 14-742-935-3718 | ggle carefully enticing requests. final deposits use bold, bold pinto beans. ironic, idle re
     60838 | Customer#000060838 | 679127.3077 |   2454.77 | BRAZIL                    | 64EaJ5vMAHWJlBOxJklpNc2RJiWE             | 12-913-494-9813 |  need to boost against the slyly regular account
    101998 | Customer#000101998 | 637029.5667 |   3790.89 | UNITED KINGDOM            | 01c9CILnNtfOQYmZj                        | 33-593-865-6378 | ress foxes wake slyly after the bold excuses. ironic platelets are furiously carefully bold theodolites
    125341 | Customer#000125341 | 633508.0860 |   4983.51 | GERMANY                   | S29ODD6bceU8QSuuEJznkNaK                 | 17-582-695-5962 | arefully even depths. blithely even excuses sleep furiously. foxes use except the dependencies. ca
     25501 | Customer#000025501 | 620269.7849 |   7725.04 | ETHIOPIA                  |   W556MXuoiaYCCZamJI,Rn0B4ACUGdkQ8DZ     | 15-874-808-6793 | he pending instructions wake carefully at the pinto beans. regular, final instructions along the slyly fina
    115831 | Customer#000115831 | 596423.8672 |   5098.10 | FRANCE                    | rFeBbEEyk dl ne7zV5fDrmiq1oK09wV7pxqCgIc | 16-715-386-3788 | l somas sleep. furiously final deposits wake blithely regular pinto b
     84223 | Customer#000084223 | 594998.0239 |    528.65 | UNITED KINGDOM            | nAVZCs6BaWap rrM27N 2qBnzc5WBauxbA       | 33-442-824-8191 |  slyly final deposits haggle regular, pending dependencies. pending escapades wake
     54289 | Customer#000054289 | 585603.3918 |   5583.02 | IRAN                      | vXCxoCsU0Bad5JQI ,oobkZ                  | 20-834-292-4707 | ely special foxes are quickly finally ironic p
     39922 | Customer#000039922 | 584878.1134 |   7321.11 | GERMANY                   | Zgy4s50l2GKN4pLDPBU8m342gIw6R            | 17-147-757-8036 | y final requests. furiously final foxes cajole blithely special platelets. f
(10 行记录)

In [ ]:
Q11

In [ ]:
select
    ps_partkey,
    sum(ps_supplycost * ps_availqty) as value
from
    partsupp,
    supplier,
    nation
where
    ps_suppkey = s_suppkey
    and s_nationkey = n_nationkey
    and n_name = 'GERMANY'
group by
    ps_partkey having
        sum(ps_supplycost * ps_availqty) > (
            select
                sum(ps_supplycost * ps_availqty) * 0.0001
            from
                partsupp,
                supplier,
                nation
            where
                ps_suppkey = s_suppkey
                and s_nationkey = n_nationkey
                and n_name = 'GERMANY'
        )
order by
    value desc;

In [ ]:
运行结果：ps_partkey |       value
-----------+---------------
129760     | 17538456.86
166726     | 18503353.92
191287     | 16474801.97
161758     | 16101755.54
34452      | 15963844.72
139035     | 15907078.34
9403       | 15451755.62
154358     | 15212937.88
38823      | 15064802.66
85606      | 15053957.15
(10 行记录)

In [ ]:
Q12

In [ ]:
select
    l_shipmode,
    sum(case
        when o_orderpriority = '1-URGENT'
            or o_orderpriority = '2-HIGH'
            then 1
        else 0
    end) as high_line_count,
    sum(case
        when o_orderpriority <> '1-URGENT'
            and o_orderpriority <> '2-HIGH'
            then 1
        else 0
    end) as low_line_count
from
    orders,
    lineitem
where
    o_orderkey = l_orderkey
    and l_shipmode in ('MAIL', 'SHIP')
    and l_commitdate < l_receiptdate
    and l_shipdate < l_commitdate
    and l_receiptdate >= CAST('1994-01-01' AS DATE)
    and l_receiptdate < DATEADD(YEAR, 1, CAST('1994-01-01' AS DATE))
group by
    l_shipmode
order by
    l_shipmode;

In [ ]:
运行结果：l_shipmode | high_line_count | low_line_count
-----------+----------------+---------------
MAIL       | 6202           | 9324
SHIP       | 6200           | 9262
(2 行记录)

In [ ]:
Q14

In [ ]:
SELECT
    100.00 * SUM(CASE
        WHEN p_type LIKE 'PROMO%' THEN l_extendedprice * (1 - l_discount)
        ELSE 0
    END) / SUM(l_extendedprice * (1 - l_discount)) AS promo_revenue
FROM
    lineitem
JOIN
    part ON l_partkey = p_partkey
WHERE
    l_shipdate >= '1995-09-01'
    AND l_shipdate < DATEADD(MONTH, 1, '1995-09-01');

In [ ]:
运行结果：promo_revenue
-------------------
16.360778
(1 行记录)

In [ ]:
Q19

In [ ]:
SELECT
    SUM(l_extendedprice * (1 - l_discount)) AS revenue
FROM
    lineitem
JOIN
    part ON p_partkey = l_partkey
WHERE
    (
        p_brand = 'Brand#12'
        AND p_container IN ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG')
        AND l_quantity BETWEEN 1 AND 11
        AND p_size BETWEEN 1 AND 5
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    )
    OR
    (
        p_brand = 'Brand#23'
        AND p_container IN ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK')
        AND l_quantity BETWEEN 10 AND 20
        AND p_size BETWEEN 1 AND 10
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    )
    OR
    (
        p_brand = 'Brand#34'
        AND p_container IN ('LG CASE', 'LG BOX', 'LG PACK', 'LG PKG')
        AND l_quantity BETWEEN 20 AND 30
        AND p_size BETWEEN 1 AND 15
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    );

In [ ]:
运行结果：revenue
-------------------
3083643.0578
(1 行记录)

In [ ]:
Q22

In [ ]:
SELECT
    cntrycode,
    COUNT(*) AS numcust,
    SUM(c_acctbal) AS totacctbal
FROM
    (
        SELECT
            SUBSTRING(c_phone, 1, 2) AS cntrycode,
            c_acctbal
        FROM
            customer
        WHERE
            SUBSTRING(c_phone, 1, 2) IN ('13', '31', '23', '29', '30', '18', '17')
            AND c_acctbal > (
                SELECT
                    AVG(c_acctbal)
                FROM
                    customer
                WHERE
                    c_acctbal > 0.00
                    AND SUBSTRING(c_phone, 1, 2) IN ('13', '31', '23', '29', '30', '18', '17')
            )
            AND NOT EXISTS (
                SELECT
                    1
                FROM
                    orders
                WHERE
                    o_custkey = c_custkey
            )
    ) AS custsale
GROUP BY
    cntrycode
ORDER BY
    cntrycode;

In [ ]:
运行结果：entrycode | numcust |  totacctbal
---------+---------+------------
    13   |   888   | 6737713.99
    17   |   861   | 6400573.72
    18   |   964   | 7236687.40
    23   |   892   | 6701457.95
    29   |   948   | 7158866.63
    30   |   909   | 6808436.13
    31   |   922   | 6806670.18
(7 行记录)