In [ ]:
Q1

In [ ]:
SELECT l_returnflag, l_linestatus, SUM(l_quantity) AS sum_qty, SUM(l_extendedprice) AS sum_base_price, SUM(l_extendedprice * (1 - l_discount)) AS sum_disc_price, SUM(l_extendedprice * (1 - l_discount) * (1 + l_tax)) AS sum_charge, AVG(l_quantity) AS avg_qty, AVG(l_extendedprice) AS avg_price, AVG(l_discount) AS avg_disc, COUNT_BIG(*) AS count_order FROM lineitem WHERE l_shipdate <= CAST('1998-12-01' AS DATE) - INTERVAL '90' DAY GROUP BY l_returnflag, l_linestatus ORDER BY CASE WHEN l_returnflag IS NULL THEN 1 ELSE 0 END, l_returnflag, CASE WHEN l_linestatus IS NULL THEN 1 ELSE 0 END, l_linestatus

In [ ]:
运行结果：“90”附近有语法错误。

In [ ]:
Q3

In [ ]:
SELECT l_orderkey, SUM(l_extendedprice * (1 - l_discount)) AS revenue, o_orderdate, o_shippriority FROM customer, orders, lineitem WHERE c_mktsegment = 'BUILDING' AND c_custkey = o_custkey AND l_orderkey = o_orderkey AND o_orderdate < CAST('1995-03-15' AS DATE) AND l_shipdate > CAST('1995-03-15' AS DATE) GROUP BY l_orderkey, o_orderdate, o_shippriority ORDER BY CASE WHEN revenue IS NULL THEN 1 ELSE 0 END DESC, revenue DESC, CASE WHEN o_orderdate IS NULL THEN 1 ELSE 0 END, o_orderdate

In [ ]:
运行结果：列名 'revenue' 无效。

In [ ]:
Q5

In [ ]:
SELECT n_name, SUM(l_extendedprice * (1 - l_discount)) AS revenue FROM customer, orders, lineitem, supplier, nation, region WHERE c_custkey = o_custkey AND l_orderkey = o_orderkey AND l_suppkey = s_suppkey AND c_nationkey = s_nationkey AND s_nationkey = n_nationkey AND n_regionkey = r_regionkey AND r_name = 'ASIA' AND o_orderdate >= CAST('1994-01-01' AS DATE) AND o_orderdate < CAST('1994-01-01' AS DATE) + INTERVAL '1' YEAR GROUP BY n_name ORDER BY CASE WHEN revenue IS NULL THEN 1 ELSE 0 END DESC, revenue DESC

In [ ]:
运行结果：“1”附近有语法错误。

In [ ]:
Q6

In [ ]:
SELECT SUM(l_extendedprice * l_discount) AS revenue FROM lineitem WHERE l_shipdate >= CAST('1994-01-01' AS DATE) AND l_shipdate < CAST('1994-01-01' AS DATE) + INTERVAL '1' YEAR AND l_discount BETWEEN 0.06 - 0.01 AND 0.06 + 0.01 AND l_quantity < 24

In [ ]:
运行结果：“1”附近有语法错误。

In [ ]:
Q7

In [ ]:
SELECT supp_nation, cust_nation, l_year, SUM(volume) AS revenue FROM (SELECT n1.n_name AS supp_nation, n2.n_name AS cust_nation, DATEPART(YEAR, l_shipdate) AS l_year, l_extendedprice * (1 - l_discount) AS volume FROM supplier, lineitem, orders, customer, nation AS n1, nation AS n2 WHERE s_suppkey = l_suppkey AND o_orderkey = l_orderkey AND c_custkey = o_custkey AND s_nationkey = n1.n_nationkey AND c_nationkey = n2.n_nationkey AND ((n1.n_name = 'FRANCE' AND n2.n_name = 'GERMANY') OR (n1.n_name = 'GERMANY' AND n2.n_name = 'FRANCE')) AND l_shipdate BETWEEN CAST('1995-01-01' AS DATE) AND CAST('1996-12-31' AS DATE)) AS shipping GROUP BY supp_nation, cust_nation, l_year ORDER BY CASE WHEN supp_nation IS NULL THEN 1 ELSE 0 END, supp_nation, CASE WHEN cust_nation IS NULL THEN 1 ELSE 0 END, cust_nation, CASE WHEN l_year IS NULL THEN 1 ELSE 0 END, l_year

In [ ]:
运行结果：supp_nation        |        cust_nation        | l_year |    revenue
---------------------------+---------------------------+--------+---------------
FRANCE                    | GERMANY                   | 1995   | 54639732.7336
FRANCE                    | GERMANY                   | 1996   | 54633083.3076
GERMANY                   | FRANCE                    | 1995   | 52531746.6697
GERMANY                   | FRANCE                    | 1996   | 52520549.0224
(4 行记录)

In [ ]:
Q9

In [ ]:
SELECT nation, o_year, SUM(amount) AS sum_profit FROM (SELECT n_name AS nation, DATEPART(YEAR, o_orderdate) AS o_year, l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity AS amount FROM part, supplier, lineitem, partsupp, orders, nation WHERE s_suppkey = l_suppkey AND ps_suppkey = l_suppkey AND ps_partkey = l_partkey AND p_partkey = l_partkey AND o_orderkey = l_orderkey AND s_nationkey = n_nationkey AND p_name LIKE '%green%') AS profit GROUP BY nation, o_year ORDER BY CASE WHEN nation IS NULL THEN 1 ELSE 0 END, nation, CASE WHEN o_year IS NULL THEN 1 ELSE 0 END DESC, o_year DESC

In [ ]:
运行结果：nation       | o_year |      sum_profit
------------+-------+-------------------
ALGERIA      | 1998  | 27136900.1803
ALGERIA      | 1997  | 48611833.4962
ALGERIA      | 1996  | 48285482.6782
ALGERIA      | 1995  | 44402273.5999
ALGERIA      | 1994  | 48694008.0668
ALGERIA      | 1993  | 46044207.7838
ALGERIA      | 1992  | 45636849.4881
ARGENTINA    | 1998  | 28341663.7848
ARGENTINA    | 1997  | 47143964.1176
ARGENTINA    | 1996  | 45255278.6021
(10 行记录)

In [ ]:
Q10

In [ ]:
SELECT c_custkey, c_name, SUM(l_extendedprice * (1 - l_discount)) AS revenue, c_acctbal, n_name, c_address, c_phone, c_comment FROM customer, orders, lineitem, nation WHERE c_custkey = o_custkey AND l_orderkey = o_orderkey AND o_orderdate >= CAST('1993-10-01' AS DATE) AND o_orderdate < CAST('1993-10-01' AS DATE) + INTERVAL '3' MONTH AND l_returnflag = 'R' AND c_nationkey = n_nationkey GROUP BY c_custkey, c_name, c_acctbal, c_phone, n_name, c_address, c_comment ORDER BY CASE WHEN revenue IS NULL THEN 1 ELSE 0 END DESC, revenue DESC

In [ ]:
运行结果：“3”附近有语法错误。

In [ ]:
Q11

In [ ]:
SELECT ps_partkey, SUM(ps_supplycost * ps_availqty) AS value FROM partsupp, supplier, nation WHERE ps_suppkey = s_suppkey AND s_nationkey = n_nationkey AND n_name = 'GERMANY' GROUP BY ps_partkey HAVING SUM(ps_supplycost * ps_availqty) > (SELECT SUM(ps_supplycost * ps_availqty) * 0.0001000000 FROM partsupp, supplier, nation WHERE ps_suppkey = s_suppkey AND s_nationkey = n_nationkey AND n_name = 'GERMANY') ORDER BY CASE WHEN value IS NULL THEN 1 ELSE 0 END DESC, value DESC

In [ ]:
运行结果：列名 'value' 无效。

In [ ]:
Q12

In [ ]:
SELECT l_shipmode, SUM(CASE WHEN o_orderpriority = '1-URGENT' OR o_orderpriority = '2-HIGH' THEN 1 ELSE 0 END) AS high_line_count, SUM(CASE WHEN o_orderpriority <> '1-URGENT' AND o_orderpriority <> '2-HIGH' THEN 1 ELSE 0 END) AS low_line_count FROM orders, lineitem WHERE o_orderkey = l_orderkey AND l_shipmode IN ('MAIL', 'SHIP') AND l_commitdate < l_receiptdate AND l_shipdate < l_commitdate AND l_receiptdate >= CAST('1994-01-01' AS DATE) AND l_receiptdate < CAST('1994-01-01' AS DATE) + INTERVAL '1' YEAR GROUP BY l_shipmode ORDER BY CASE WHEN l_shipmode IS NULL THEN 1 ELSE 0 END, l_shipmode

In [ ]:
运行结果：“1”附近有语法错误。

In [ ]:
Q14

In [ ]:
SELECT 100.00 * SUM(CASE WHEN p_type LIKE 'PROMO%' THEN l_extendedprice * (1 - l_discount) ELSE 0 END) / SUM(l_extendedprice * (1 - l_discount)) AS promo_revenue FROM lineitem, part WHERE l_partkey = p_partkey AND l_shipdate >= CAST('1995-09-01' AS DATE) AND l_shipdate < CAST('1995-09-01' AS DATE) + INTERVAL '1' MONTH

In [ ]:
运行结果：“1”附近有语法错误。

In [ ]:
Q19

In [ ]:
SELECT SUM(l_extendedprice * (1 - l_discount)) AS revenue FROM lineitem, part WHERE (p_partkey = l_partkey AND p_brand = 'Brand#12' AND p_container IN ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG') AND l_quantity >= 1 AND l_quantity <= 1 + 10 AND p_size BETWEEN 1 AND 5 AND l_shipmode IN ('AIR', 'AIR REG') AND l_shipinstruct = 'DELIVER IN PERSON') OR (p_partkey = l_partkey AND p_brand = 'Brand#23' AND p_container IN ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK') AND l_quantity >= 10 AND l_quantity <= 10 + 10 AND p_size BETWEEN 1 AND 10 AND l_shipmode IN ('AIR', 'AIR REG') AND l_shipinstruct = 'DELIVER IN PERSON') OR (p_partkey = l_partkey AND p_brand = 'Brand#34' AND p_container IN ('LG CASE', 'LG BOX', 'LG PACK', 'LG PKG') AND l_quantity >= 20 AND l_quantity <= 20 + 10 AND p_size BETWEEN 1 AND 15 AND l_shipmode IN ('AIR', 'AIR REG') AND l_shipinstruct = 'DELIVER IN PERSON')

In [ ]:
运行结果：revenue
---------
3083643.0578
(1 行记录)

In [ ]:
Q22

In [ ]:
SELECT cntrycode, COUNT_BIG(*) AS numcust, SUM(c_acctbal) AS totacctbal FROM (SELECT SUBSTRING(c_phone, 1, 2) AS cntrycode, c_acctbal AS c_acctbal FROM customer WHERE SUBSTRING(c_phone, 1, 2) IN ('13', '31', '23', '29', '30', '18', '17') AND c_acctbal > (SELECT AVG(c_acctbal) FROM customer WHERE c_acctbal > 0.00 AND SUBSTRING(c_phone, 1, 2) IN ('13', '31', '23', '29', '30', '18', '17')) AND NOT EXISTS(SELECT * FROM orders WHERE o_custkey = c_custkey)) AS custsale GROUP BY cntrycode ORDER BY CASE WHEN cntrycode IS NULL THEN 1 ELSE 0 END, cntrycode

In [ ]:
运行结果：entrycode | numcust |  totacctbal
---------+---------+------------
    13   |   888   | 6737713.99
    17   |   861   | 6480573.72
    18   |   964   | 7236687.40
    23   |   892   | 6701457.95
    29   |   948   | 7158666.63
    30   |   909   | 6808436.13
    31   |   922   | 6806670.18
(7 行记录)